.waytitle {
    display: flex;
    align-items: center;
}
.waytitle-number-box{
    width: 46px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17428C;
    margin-right: 12px;
}
.waytitle-number {
    font-size: 28px;
    font-weight: 800; 
    color: white;
    margin: 0;
}
.waytitle-ko {
    font-size: 20px;
    color: #17428C;
    margin: 0;
}

.waytitle-en {
    font-size: 14px;
    font-weight: 400;
    color: #ADAEB1;
    margin: 0;
}

 .contents-list li {
            position: relative;
            padding: 0 0 6px 16px;
            font-size: 14px;
            
        }
        .contents-list li:before {
            content: "";
            position: absolute;
            top: 7px;
            left: 5px;
            width: 4px;
            height: 4px;
            border-radius: 100%;
            background-color: #8d8d8d;
        }
